@font-face {font-family: "iconfont";
  src: url('../fonts/school-class.eot?t=1546917618940'); /* IE9 */
  src: url('../fonts/school-class.eot?t=1546917618940#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/school-class.woff?t=1546917618940') format('woff'),
  url('../fonts/school-class.ttf?t=1546917618940') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/school-class.svg?t=1546917618940#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e609";
}

.icon-diandiandian:before {
  content: "\e640";
}

.icon-kecheng:before {
  content: "\e607";
}

.icon-fanhui:before {
  content: "\e639";
}

.icon-yigou:before {
  content: "\e655";
}

.icon-xingxing:before {
  content: "\e68d";
}

.icon-wode:before {
  content: "\e600";
}

.icon-share:before {
  content: "\e601";
}

