// 颜色定义规范
$color-background = #f5f5f5
$color-background-d = rgba(0, 0, 0, 0.5)
$color-button-background = #E6E6E6
$color-theme = #20C300
$color-text = #fff
$color-text-f = #808080
$color-text-b = #000
$color-text-l = #666
$color-text-ll = #B3B3B3

//字体定义规范
$font-size-40 = 20px
$font-size-36 = 18px
$font-size-34 = 17px
$font-size-30 = 15px
$font-size-28 = 14px
$font-size-26 = 13px
$font-size-24 = 12px
$font-size-22 = 11px
$font-size-18 = 9px
$font-size-20 = 10px
